@media only screen and (max-width: 1024px) {
    .carta {
        display: none;
    }

    .carta-movil {
        display: block;
        width: 100%;
        height: auto;
        padding: 70px 40px;

        .h4 {
            font-size: 45px !important;
            text-align: center;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .menus {
            flex-direction: column;

            .menu-container-movil {
                width: 100%;
                position: relative; 
                overflow: hidden;
                margin-top: 70px;
                display: flex;
                flex-direction: column;
                gap: 30px;

                .img-wrapper-movil {
                    position: relative; 
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    
                    .text-overlay-movil {
                        position: absolute; 
                        top: 50%; 
                        left: 50%; 
                        transform: translate(-50%, -50%); 
                        padding: 10px 20px;
                        border-radius: 5px;

                        .titulo-menu {
                            font-family: "Tenor Sans", sans-serif;
                            letter-spacing: 3px;
                            font-size: 25px;
                            color: white; 
                            font-weight: 300;
                            text-align: center;
                            margin: 0; 
                        }
                    }
                }
            }
        }
    }

    .img-wrapper-movil:hover .img-cartas {
        transition: transform 0.5s ease;
        transform: scale(1.1);
        filter: brightness(1);
        border-radius: 20px;
    }

}